body {
  background-color:lightblue;
}

h1 {
  color:red;
  text-align:center;
  letter-spacing:6px;
  font-size:60px;
}

p {
  font-size:30px;
  font-style:normal;
}
h2 {
  color:blue;
  text-align:center;
  font-size:40px;
}
